h1 {
    font-size: 24px;
    color: blue;
    font-weight: 200px;
    font-style: italic;
}

h2 {
    font-size: 20px;
    color: #0000ff;
    font-weight: 200px;
}

h3 {
    font-size: 16px;
    color: teal;
    font-weight: 100px;
}

.paragraaf {
    font-weight: 800;
}

a {
    text-decoration: none;
}