*

{

  margin: 0;

  padding: 0;

  box-sizing: border-box;

}

 

h1{

  text-align: center;

  font-size: 40px;

}

 

.htmlcolor{

  color: aqua;

}

 

.CSScolor{

  color: #c23e19;

}

 

.phpcolor{

  color: #004884;

}

 

.javascriptcolor{

  color: #edc70a;

}

 

.sqlcolor{

color: #c4a407;

}

 

.postion{

display: flex;

 

}

 

.section{

  height: 60vh;

  width: 100vw;

  display: flex;

}

 

.sql{

  margin-top: 125px;

 

}

.mysql{

  width: 50%;

}

 

.divp{

  padding: 20px;

  width: 50%;

 

 

}

 

.divp p h2{

  padding: 20px;

}

 

.divp p{

  line-height: 20px;

  font-size: 18px;

}

 

.divp h2{

  font-size: 24px;

}

 

 

.divimg{

  margin: auto;

  width: 50%;

  display: flex;

  justify-content: center;

  align-items: center;

}

 

html {

  font-size: 62.5%;

}

body {

  overflow-x: hidden;

  font-family: "Goldman", cursive;

  flex-direction: column;

  display: flex;

}

 

nav {

  position: fixed;

  display: flex;

  width: 100%;

  padding: 2rem;

  min-height: 10vh;

  align-items: center;

  flex-wrap: wrap;

  margin: auto;

  background: #00a8c7;

  justify-content: space-between;

}

nav ul {

  display: flex;

  align-items: center;

  list-style-type: none;

}

nav li {

  font-size: 2.5rem;

  padding: 0 4rem 0 4rem;

}

nav a {

  color: white;

  text-decoration: none;

}

nav img {

  width: 5vw;

}

* {

  margin: 0;

  padding: 0;

  box-sizing: border-box;

}

.full-width-image {

  width: 100%;

  height: auto;

}

full-width-image{

  background-position: center;

}

 

footer{

background-color: #00a8c7;

height: 10vh;

width: 100vw;

color: aliceblue;

text-align: center;

padding: 20px;

}

.background-black{

  background-color: black;

  color: aliceblue;

  height: 100vh;

 

}

 

.background-white{

  background-color: rgb(255, 255, 255);

  color: rgb(0, 0, 0);

  height: 100vh;

 

}

 

.dropbtn {

  background-color: #00a8c7;

  color: white;

  padding: 16px;

  font-size: 16px;

  border: none;

 

 

}

 

 

.dropdown {

  position: relative;

  display: flex;

}

 

 

.dropdown-content {

  display: none;

  position: absolute;

  background-color: white;

  min-width: 160px;

  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

  z-index: 1;

 

}

 

 

.dropdown-content a {

  color: #00a8c7;

  padding: 12px 16px;

  text-decoration: none;

  display: flex;

  flex-direction: column;

}

 

 

.dropdown-content a:hover {background-color: #e9e9e9;}

 

 

.dropdown:hover .dropdown-content {display: block;}

 

 

.dropdown:hover .dropbtn {background-color:white;

color: #00a8c7;

}